@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --selected: #fff200;
  --text-color: #777;
  --white: #fff;
  --dark-text: #1c2042;
  --error-text: #f00;
  --success-text: #44bd32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(#ffec64, #ffab23);
}

select {
  background-color: var(--white);
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  position: absolute;
  max-width: 1140px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 50px 45px;
  border-radius: 5px;
  display: grid;
  justify-items: center;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 481px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 350px) {
  .container {
    width: 350px;
  }
}

@media (min-width: px) {
  .container {
    width: 540px;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

input[type="text"] {
  width: 90px;
  font-weight: 600;
  padding: 20px 0;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid #202020;
  color: #F79F1F;
}

button {
  width: 160px;
  padding: 15px 0;
  border-radius: 5px;
  background-color: #F79F1F;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0;
}

.message {
  font-weight: 700;
  font-size: 18px;
}

.secretNumberBtn {
  font-size: 35px;
  padding: 0;
  width: 70px;
  height: 70px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  text-shadow: inset 0px 1px 0px #810e05;
  background: linear-gradient(#f24537, #c62d1f);
}

.secretNumberBtn:hover {
  background: linear-gradient(#c62d1f, #f24537);
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0)
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg)
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg)
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0)
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg)
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg)
  }
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up .65s linear both;
  animation: rotate-scale-up .65s linear both
}